<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jahnavi Kanukuntla - Skills</title>
    <link rel="stylesheet" href="./static/assets/css/main.css">
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="index.html" class="logo">JAHNAVI</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="index.html">About me</a></li>
                <li><a href="generic.html">Projects</a></li>
                <li class="active"><a href="elements.html">Skills</a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/jahnavi-kanukuntla-30a954216/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/Jahnavi-0305" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <section class="post">
                <header class="major">
                    <h1>Skills</h1>
                </header>

                <div class="skills">
                    <!-- Programming Languages -->
                    <div class="skill-section">
                        <h2>Programming Languages</h2>
                        <div class="skill-title">Python</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 90%;">90%</div></div>
                        <div class="skill-title">Java</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 85%;">85%</div></div>
                        <div class="skill-title">C++</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 80%;">80%</div></div>
                        <div class="skill-title">C</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 75%;">75%</div></div>
                        <div class="skill-title">R</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 70%;">70%</div></div>
                    </div>

                    <!-- Software and Tools -->
                    <div class="skill-section">
                        <h2>Software & Tools</h2>
                        <div class="skill-title">MS Office</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 95%;">95%</div></div>
                        <div class="skill-title">Tableau</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 80%;">80%</div></div>
                        <div class="skill-title">Hadoop</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 85%;">85%</div></div>
                        <div class="skill-title">Spark</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 75%;">75%</div></div>
                        <div class="skill-title">VirtualBox</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 65%;">65%</div></div>
                    </div>
                </div>

                <div class="skills">
                    <!-- Databases -->
                    <div class="skill-section">
                        <h2>Databases</h2>
                        <div class="skill-title">MySQL</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 90%;">90%</div></div>
                        <div class="skill-title">MongoDB</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 85%;">85%</div></div>
                        <div class="skill-title">Redis</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 80%;">80%</div></div>
                        <div class="skill-title">Neo4j</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 70%;">70%</div></div>
                        <div class="skill-title">Cassandra</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 75%;">75%</div></div>
                    </div>

                    <!-- Web Technologies -->
                    <div class="skill-section">
                        <h2>Web Technologies</h2>
                        <div class="skill-title">HTML</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 90%;">90%</div></div>
                        <div class="skill-title">CSS</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 85%;">85%</div></div>
                        <div class="skill-title">JavaScript</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 80%;">80%</div></div>
                        <div class="skill-title">React</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 75%;">75%</div></div>
                        <div class="skill-title">Node.js</div>
                        <div class="skill-bar"><div class="skill-level" style="width: 70%;">70%</div></div>
                    </div>
                </div>
            </section>
        </div>


		<!-- Footer -->
		<footer id="footer">
			<section>
				<form method="post" action="submit_form">
					<div class="fields">
						<div class="field">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
						<div class="field">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="3"></textarea>
						</div>
					</div>
					<button type="submit" class="btn btn-default btn-lg">Send</button>
				</form>
			</section>
			<section class="split contact">
				<section class="alt">
					<h3>Address</h3>
					<p>9416 Grove Crest Lane<br />
					Charlotte, NC, 28262</p>
				</section>
				<section>
					<h3>Phone</h3>
					<p><a href="#">(925) 789-8851</a></p>
				</section>
				<section>
					<h3>Email</h3>
					<p><a href="#">jkanuku0305@gmail.com</a></p>
				</section>
				<section>
					<h3>Social</h3>
					<ul class="icons alt">
						<li><a href="https://www.linkedin.com/in/jahnavi-kanukuntla-30a954216/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://github.com/Jahnavi-0305" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					</ul>
				</section>
			</section>
		</footer>
    </div>

    <!-- Scripts -->
    <script src="./static/assets/js/jquery.min.js"></script>
    <script src="./static/assets/js/jquery.scrollex.min.js"></script>
    <script src="./static/assets/js/jquery.scrolly.min.js"></script>
    <script src="./static/assets/js/browser.min.js"></script>
    <script src="./static/assets/js/breakpoints.min.js"></script>
    <script src="./static/assets/js/util.js"></script>
    <script src="./static/assets/js/main.js"></script>
</body>
</html>
