<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jahnavi Kanukuntla - Skills</title>
    <link rel="stylesheet" href="./static/assets/css/main.css">
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="index.html" class="logo">JAHNAVI</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="index.html">About me</a></li>
                <li><a href="generic.html">Projects</a></li>
                <li class="active"><a href="elements.html">Skills</a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/jahnavi-kanukuntla-30a954216/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/Jahnavi-0305" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <section class="post">
                <header class="major">
                    <h1>Thank you, I'll reach you soon.</h1>
                </header>

					<h3>Social</h3>
					<ul class="icons alt">
						<li><a href="https://www.linkedin.com/in/jahnavi-kanukuntla-30a954216/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://github.com/Jahnavi-0305" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					</ul>
				</section>
			</section>
		</footer>
    </div>

    <!-- Scripts -->
    <script src="./static/assets/js/jquery.min.js"></script>
    <script src="./static/assets/js/jquery.scrollex.min.js"></script>
    <script src="./static/assets/js/jquery.scrolly.min.js"></script>
    <script src="./static/assets/js/browser.min.js"></script>
    <script src="./static/assets/js/breakpoints.min.js"></script>
    <script src="./static/assets/js/util.js"></script>
    <script src="./static/assets/js/main.js"></script>
</body>
</html>
